{% extends "base.html" %}
{% block content %}
    <h1>Mettre un utilisateur github</h1>
    <form action="/" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}<br>
            {{ form.username(size=32, class_="form-control") }}
        </div>
        <p>{{ form.submit() }}</p>
    </form>

    <div class="show" role="alert" aria-live="assertive" aria-atomic="true">
        <h3>Historique:</h3>
        {% for hist in history %}
            <div class="toast-header">
                <strong class="mr-auto"><a href="{{ url_for('getUser', name=hist[0]) }}">{{hist[0]}}</a></strong>
                <small>{{hist[1]}}</small>
            </div>
        {% endfor %}
    </div>
{% endblock %}
