{% extends "base.html" %}
{% block content %}
    <h1>Mettre un utilisateur github</h1>
    <form action="/" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <div class="my-4">
        <div class="row">
            {% for img in imgs %}
                <div class="col-lg-4 col-md-12 mb-4">
                    <img src="{{img}}" class="img-fluid mb-4" alt="">
                </div>
            {% endfor%}
        </div>
    </div>
{% endblock %}
