{% extends "base.html" %}
{% block content %}

    <form>
        <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
                <label for="exampleInputUsername Github1">Username Github</label>
                <input type="text" class="form-control" id="exampleInputUsername Github1" aria-describedby="Username GithubHelp" placeholder="Enter Username Github">
                <small id="Username GithubHelp" class="form-text text-muted">We'll never share your Username Github with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>

{% endblock %}
